body, html{
    margin:0;
    height: 100%;
}
@font-face {
    font-family: "Qanelas";
    src: url("/fonts/Qanelas-Regular.ttf");
}
@font-face {
    font-family: "QanelasItalic";
    src: url("/fonts/Qanelas-SemiBoldItalic.ttf");
}
body{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    width:100%;
    display: flex;
    color:black;
    min-height: 100%;
    flex-direction: column;
}
li{
    list-style-type:none;
}
.logo{
    display: flex;
    align-items: center;
    letter-spacing: 40px;
    font-size: 60px;
    font-weight: bold;
    
}
.logo a{
    text-decoration: none;
    color:white;
}
.menu_items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 40px;
}
.aside{
    display: flex;
    gap:20px;
    padding-right: 40px;
}
.aside_img{
    display: flex;
    align-items: center;
}
.link{
    color:#fff;
    text-decoration: none;
}
.main{
    flex:1 1 auto;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
}
.header{
    background: #4b94df;
}

.fas fa-shopping-basket {
    height: 10px;
    width: 100%;
}

.fa-solid fa-magnifying-glass {
    height: 100px;
    width: 100%;
}