.html {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #1E79D7;
}

.inner_header {
    width: 100%;
    height: 70px;
    display: block;
    margin: 0;
    background-color: deepskyblue;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

    .logo_container h1 {
        color: white;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Times New Roman';
        font-size: 32px;
        margin: 20px;
        padding: 0px 20px;
    }

.navigation {
    height: 25%;
    float: right;
}

    .navigation a {
        height: 100%;
        display: table-cell;
        padding: 0px 10px;
        font-size: 16px;
    }

        .navigation a li {
            color: white;
            height: 60px;
            display: table-cell;
            vertical-align: middle;
            font-family: 'Times New Roman';
            font-size: 16px;
            width: 10px;
        }

        .navigation a i {
            color: white;
            height: 65px;
            display: table-cell;
            vertical-align: middle;
            padding: 0px 10px;
            font-size: 16px;
            width: 10px;
        }

.fas fa-shopping-basket {
    color: white;
    height: 10px;
    width: 100%;
}

.fa-solid fa-magnifying-glass {
    color: white;
    height: 100px;
    width: 100%;
}